<link rel="stylesheet" href="../../css/reset.css">
<link rel="stylesheet" href="../../css/common.css">
<!--头部-->
<div class="header w">
    <!--登录条-->
    <div class="loginbar w">
        <div class="language">
            <span>语种&nbsp;<i><em></em></i></span>
            <ul class="language-hidden">
                <li>中文</li>
                <li>英文</li>
                <li>阿拉伯文</li>
            </ul>
        </div>
        <p class="banner">你好，欢迎来到带路者！</p>
        <div class="siginarea">
            <a href="login.html" class="login">登录</a>
            <a href="register-suppliers.html" class="regsiter">注册</a>
            <a href="#" class="logout">注销</a>
            <div class="center">
                <span>我的带路者<i><em></em></i></span>
                <ul class="center-hidden">
                    <li><a href="center-order.html">我的订单</a></li>
                    <li><a href="center-pay.html">我的支付</a></li>
                    <li><a href="center-inquiry-sheet.html">我的询盘单</a></li>
                    <li><a href="center-inquiry-car.html">我的询盘车</a></li>
                    <li><a href="center-favorites.html">我的收藏夹</a></li>
                </ul>
            </div>
        </div>
    </div><!--登录条 end-->
    <!--功能区-->
    <div class="shop w">
        <h1 class="logo">
            <a href="../home.html">
                <img src="../image/header-logo.png" alt="">
            </a>
        </h1>
        <div class="seach">
            <input type="text"><span>搜索</span>
        </div>
        <!--询盘车-->
        <div class="shop-car">
            <div class="J-shoping J-shoping-small">
                <div class="J-shoping-item">
                    <div class="baseBg J-L-ico J-shoping-pos"></div>
                    <div class="J-shoping-main">
                        <div class="J-shoping-title">
                            <a href="#" title="" class="J-go"><em class="baseBg"></em>询盘车</a>
                            <span class="baseBg J-shoping-num">	0</span>
                        </div>
                        <div class="baseBg J-shoping-mx"></div>
                        <div class="J-shoping-body">
                            <div class="J-shoping-buy">
                                <span>最多显示最新<strong>5</strong>条</span>
                                <a class="baseBg" href="#" title="去询盘">去询盘</a>
                            </div>
                        </div>
                    </div>
                    <div class="baseBg J-R-ico J-shoping-pos"></div>
                </div>
            </div>
        </div>

    </div><!--功能区 end-->
</div><!--头部 end-->