<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助中心-隐私声明</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/help.css">
</head>
<body>
<!--头部-->
<div class="header">
    <!--登录条-->
    <div class="loginbar w">
        <div class="language">
            <span>语种&nbsp;<i><em></em></i></span>
            <ul class="language-hidden">
                <li>中文</li>
                <li>英文</li>
                <li>阿拉伯文</li>
            </ul>
        </div>
        <p class="banner">你好，欢迎来到带路者！</p>
        <div class="siginarea">
            <a href="login.html" class="login">登录</a>
            <a href="register-suppliers.html" class="regsiter">注册</a>
            <a href="#" class="logout">注销</a>
            <a href="help.html">帮助中心</a>
            <div class="center">
                <span>我的带路者<i><em></em></i></span>
                <ul class="center-hidden">
                    <li><a href="center-order.html">我的订单</a></li>
                    <li><a href="center-pay.html">我的支付</a></li>
                    <li><a href="center-inquiry-sheet.html">我的询盘单</a></li>
                    <li><a href="center-inquiry-car.html">我的询盘车</a></li>
                    <li><a href="center-favorites.html">我的收藏夹</a></li>
                </ul>
            </div>
        </div>
    </div><!--登录条 end-->
    <!--功能区-->
    <div class="shop w">
        <h1 class="logo">
            <a href="../home.html">
                <img src="../image/header-logo.png" alt="">
            </a>
        </h1>
        <div class="seach">
            <input type="text"><span>搜索</span>
        </div>
        <!--询盘车-->
        <div class="shop-car">
            <div class="J-shoping J-shoping-small">
                <div class="J-shoping-item">
                    <div class="baseBg J-L-ico J-shoping-pos"></div>
                    <div class="J-shoping-main">
                        <div class="J-shoping-title">
                            <a href="#" title="" class="J-go"><em class="baseBg"></em>询盘车</a>
                            <span class="baseBg J-shoping-num">	0</span>
                        </div>
                        <div class="baseBg J-shoping-mx"></div>
                        <div class="J-shoping-body">
                            <div class="J-shoping-buy">
                                <span>最多显示最新<strong>5</strong>条</span>
                                <a class="baseBg" href="#" title="去询盘">去询盘</a>
                            </div>
                        </div>
                    </div>
                    <div class="baseBg J-R-ico J-shoping-pos"></div>
                </div>
            </div>
        </div>

    </div><!--功能区 end-->
</div><!--头部 end-->

<!--二级导航-->
<div class="second-nav">
    <div class="w">
        <ul>
            <li><a href="../home.html">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
            <li><a href="javascript:;">帮助中心</a>&nbsp;&nbsp;>&nbsp;&nbsp;</li>
        </ul>
    </div>
</div><!--二级导航 end-->

<div class="w">
    <div class="help-main">
        <div class="left">
            <ul class="nav-list">
                <li>
                    <h4><i class="help-center-icon"></i>帮助中心</h4>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-attention-icon"></i>关注我们<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">隐私声明</a>
                        <a href="javascript:;">公司简介</a>
                        <a href="javascript:;">联系我们</a>
                        <a href="javascript:;">带路者优势</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-shop-icon"></i>购物指南<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">样品申请</a>
                        <a href="javascript:;">账户注册</a>
                        <a href="javascript:;">常见问题</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-pay-icon"></i>支付方式<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">资金转账</a>
                        <a href="javascript:;">银行转账</a>
                        <a href="javascript:;">在线支付</a>
                        <a href="javascript:;">优惠服务</a>
                        <a href="javascript:;">发票说明</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-logistics-icon"></i>物流配送<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">带路者物流</a>
                        <a href="javascript:;">自选物流</a>
                        <a href="javascript:;">普通快递</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-sample-icon"></i>样品申请<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">样品卷</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-features-icon"></i>专业特色<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">产品定制</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-service-icon"></i>服务保障<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">全面销售支持</a>
                        <a href="javascript:;">正品保障</a>
                        <a href="javascript:;">正规出口</a>
                        <a href="javascript:;">高端服务</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-member-icon"></i>账号会员<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">账户冻结</a>
                    </div>
                </li>
                <li class="nav-item">
                    <h4 class="nav-item-btn"><i class="help-aftersale-icon"></i>售后服务<em></em></h4>
                    <div class="hide-list">
                        <a href="javascript:;">查询售后政策</a>
                        <a href="javascript:;">退货流程</a>
                        <a href="javascript:;">退货方式及时效</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <!--隐私声明-->
           <div class="item">
               <!--小标题-->
               <div class="content-tit">
                   <h4>关注我们-隐私声明</h4>
               </div><!--小标题-->
               <div class="content-main">
                   <ul class="content-main-tit">
                       <li class="act_active"><a href="javascript:;">全部</a></li>
                       <li><a href="javascript:;">隐私声明</a></li>
                   </ul>
                   <div class="content-main-list">
                       <div style="display: block">隐私声明建设中，敬请期待1</div>
                       <div>隐私声明建设中，敬请期待2</div>
                   </div>
               </div>
           </div>
            <!--公司简介-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>关注我们-公司介绍</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">带路者模式</a></li>
                        <li><a href="javascript:;">展会风采</a></li>
                        <li><a href="javascript:;">媒体报道</a></li>
                        <li><a href="javascript:;">获奖荣誉</a></li>
                        <li><a href="javascript:;">技术尖兵</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">公司介绍建设中，敬请期待1</div>
                        <div>公司介绍建设中，敬请期待2</div>
                        <div>公司介绍建设中，敬请期待3</div>
                        <div>公司介绍建设中，敬请期待4</div>
                        <div>公司介绍建设中，敬请期待5</div>
                        <div>公司介绍建设中，敬请期待6</div>
                    </div>
                </div>
            </div>
            <!--联系我们-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>关注我们-联系我们</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">在线客服</a></li>
                        <li><a href="javascript:;">商务合作</a></li>
                        <li><a href="javascript:;">更多联系方式</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">联系我们建设中，敬请期待1</div>
                        <div>联系我们建设中，敬请期待2</div>
                        <div>联系我们建设中，敬请期待3</div>
                        <div>联系我们建设中，敬请期待4</div>
                    </div>
                </div>
            </div>
            <!--带路者优势-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>关注我们-带路者优势</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">我们的优势</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">带路者优势建设中，敬请期待1</div>
                        <div>带路者优势建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--样品申请-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>购物指南-样品申请</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">样品卷</a></li>
                        <li><a href="javascript:;">样品卷使用规格</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">样品申请建设中，敬请期待1</div>
                        <div>样品申请建设中，敬请期待2</div>
                        <div>样品申请建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--账户注册-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>购物指南-账户注册</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">找回密码</a></li>
                        <li><a href="javascript:;">账号注册</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">账户注册建设中，敬请期待1</div>
                        <div>账户注册建设中，敬请期待2</div>
                        <div>账户注册建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--常见问题-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>购物指南-常见问题</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">常见问题</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">常见问题建设中，敬请期待1</div>
                        <div>常见问题建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--资金转账-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>支付方式-资金账期</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">资金账期</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">资金账期建设中，敬请期待1</div>
                        <div>资金账期建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--银行转账-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>支付方式-银行转账</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">银行转账</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">银行转账建设中，敬请期待1</div>
                        <div>银行转账建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--在线支付-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>支付方式-在线支付</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">在线支付</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">在线支付建设中，敬请期待1</div>
                        <div>在线支付建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--优惠服务-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>支付方式-优惠服务</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">优惠服务</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">优惠服务建设中，敬请期待1</div>
                        <div>优惠服务建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--发票说明-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>支付方式-发票说明</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">如何获得发票</a></li>
                        <li><a href="javascript:;">如何让设置发票</a></li>
                        <li><a href="javascript:;">发票注意事项</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">发票说明建设中，敬请期待1</div>
                        <div>发票说明建设中，敬请期待2</div>
                        <div>发票说明建设中，敬请期待3</div>
                        <div>发票说明建设中，敬请期待4</div>
                    </div>
                </div>
            </div>
            <!--带路者物流-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>物流配送-带路者物流</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">什么是带路者物流</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">带路者物流建设中，敬请期待1</div>
                        <div>带路者物流建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--自选物流-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>物流配送-自选物流</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">什么是自选物流</a></li>
                        <li><a href="javascript:;">关于自选物流</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">自选物流建设中，敬请期待1</div>
                        <div>自选物流建设中，敬请期待2</div>
                        <div>自选物流建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--普通快递-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>物流配送-普通快递</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">普通快递用途</a></li>
                        <li><a href="javascript:;">单件商品运费</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">普通快递建设中，敬请期待1</div>
                        <div>普通快递建设中，敬请期待2</div>
                        <div>普通快递建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--样品卷-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>样品申请-样品券</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">样品卷</a></li>
                        <li><a href="javascript:;">样品卷使用规则</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">样品卷建设中，敬请期待1</div>
                        <div>样品卷建设中，敬请期待2</div>
                        <div>样品卷建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--产品定制-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>专业特色-产品定制</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">定制专区</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">产品定制建设中，敬请期待1</div>
                        <div>产品定制建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--全面销售支持-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>服务保障-全面销售支持</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">全面销量支持</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">全面销售支持建设中，敬请期待1</div>
                        <div>全面销售支持建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--正品保障-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>服务保障-正品保障</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">正品保障</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">正品保障建设中，敬请期待1</div>
                        <div>正品保障建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--正规出口-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>服务保障-正规出口</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">防伪码使用说明</a></li>
                        <li><a href="javascript:;">正规出口</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">正规出口建设中，敬请期待1</div>
                        <div>正规出口建设中，敬请期待2</div>
                        <div>正规出口建设中，敬请期待3</div>
                    </div>
                </div>
            </div>
            <!--高端服务-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>服务保障-高端服务</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">高端服务</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">高端服务建设中，敬请期待1</div>
                        <div>高端服务建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--账户冻结-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>账号会员-账户冻结</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">账户冻结</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">账户冻结建设中，敬请期待1</div>
                        <div>账户冻结建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--查询售后政策-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>售后服务-查询售后政策</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">查询售后政策</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">查询售后政策建设中，敬请期待1</div>
                        <div>查询售后政策建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--退货流程-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>售后服务-退货流程</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">物流破损流程</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">退货流程建设中，敬请期待1</div>
                        <div>退货流程建设中，敬请期待2</div>
                    </div>
                </div>
            </div>
            <!--退货方式及时效-->
            <div class="item">
                <!--小标题-->
                <div class="content-tit">
                    <h4>售后服务-退货方式及时效</h4>
                </div><!--小标题-->
                <div class="content-main">
                    <ul class="content-main-tit">
                        <li class="act_active"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">退款方式及时效</a></li>
                    </ul>
                    <div class="content-main-list">
                        <div style="display: block">退货方式及时效设中，敬请期待1</div>
                        <div>退货方式及时效建设中，敬请期待2</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--尾部-->
<div class="footer w">
    <!--帮助-->
    <div class="help ">
        <div class="help-nav">
            <h5>购物指南</h5>
            <ul>
                <li><a href="#">购物流程</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">联系客服</a></li>
            </ul>
        </div>
        <div class="help-nav">
            <h5>配送方式</h5>
            <ul>
                <li><a href="#">配送服务查询</a></li>
                <li><a href="#">配送费收取标准</a></li>
                <li><a href="#">海外配送</a></li>
            </ul>
        </div>
        <div class="help-nav">
            <h5>支付方式</h5>
            <ul>
                <li><a href="#">信用证</a></li>
                <li><a href="#">前T／T</a></li>
                <li><a href="#">后T／T</a></li>
                <li><a href="#">Palpal</a></li>
            </ul>
        </div>
        <div class="help-nav">
            <h5>售后服务</h5>
            <ul>
                <li><a href="#">售后政策</a></li>
                <li><a href="#">价格保护</a></li>
                <li><a href="#">退款说明</a></li>
                <li><a href="#">返修／退换货</a></li>
                <li><a href="#">取消订单</a></li>
            </ul>
        </div>
    </div><!--帮助 end-->
    <!--外链-->
    <div class="links">
        <p>
            <a href="#">关于我们</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">联系客服</a><span>|</span><a
                href="#">商家入驻</a><span>|</span><a href="#">营销中心</a><span>|</span><a href="#">手机带路者</a><span>|</span><a
                href="#">友情链接</a><span>|</span><a href="#">销售联盟</a><span>|</span><a href="#">风险监测</a>
        </p>
        <img src="../image/footer-links.png" alt="">
    </div><!--外链 end-->
    <!--信息-->
    <div class="copyright">
        <p><span>京ICP备16041296号-1&nbsp; |&nbsp; Copyright&nbsp; &nbsp;<span class="copyright-c">©</span> 2016, Silkwalks, All Rights Reserved</span>
        </p>
    </div><!--信息 end-->
</div><!--尾部 end-->

<script src="../js/jquery.min.js"></script>
<script>
    $(function () {
        //侧导航切换
        $('.nav-item-btn').click(function(){
            if($(this).siblings('.hide-list').is(':hidden')){
                $(this).siblings('.hide-list').show();
                $(this).find('em').addClass('rotate');
                $(this).parent().siblings('.nav-item').find('em').removeClass('rotate');
                $(this).parent().siblings('.nav-item').find('.hide-list').hide()
            }else{//否则
                $(this).siblings('.hide-list').hide();
                $(this).find('em').removeClass('rotate');
            }
        });

        //正文标题切换
        var $div_li = $(".content-main-tit>li");
        $div_li.click(function () {
            $(this).addClass("act_active")            //当前<li>元素高亮
                .siblings().removeClass("act_active");  //去掉其它同辈<li>元素的高亮
            var index = $div_li.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
            $(".content-main-list > div")       //选取子节点。不选取子节点的话，会引起错误。如果里面还有div
                .eq(index).show()   //显示 <li>元素对应的<div>元素
                .siblings().hide(); //隐藏其它几个同辈的<div>元素
        });
        //正文切换
        $('.item').eq(0).show()
        var $nav_list = $(".hide-list>a");
        $nav_list.click(function () {
            $(this).addClass("act_nav")            //当前<li>元素高亮
            $(this).siblings().removeClass("act_nav");  //去掉其它同辈<li>元素的高亮
            $(this).parent().parent('nav-item').siblings().find('a').removeClass("act_active");
            var index = $nav_list.index(this);  // 获取当前点击的<li>元素 在 全部li元素中的索引。
            $(".right > div")       //选取子节点。不选取子节点的话，会引起错误。如果里面还有div
                .eq(index).show()   //显示 <li>元素对应的<div>元素
                .siblings().hide(); //隐藏其它几个同辈的<div>元素
        });
    })

</script>


</body>
</html>