<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>供应商注册</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/daterangepicker.css">
    <link rel="stylesheet" href="../css/foundation-datepicker.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.cityselect.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/jquery.daterangepicker.js"></script>
    <script src="../js/foundation-datepicker.js"></script>
    <script>
        $(function () {
            //区域日期调用
            $.dateRangePickerLanguages['custom'] =
                {
                    'selected': 'Choosed:',
                    'days': 'Days',
                    'apply': 'Close',
                    'week-1': 'Mon',
                    'week-2': 'Tue',
                    'week-3': 'Wed',
                    'week-4': 'Thu',
                    'week-5': 'Fri',
                    'week-6': 'Sat',
                    'week-7': 'Sun',
                    'month-name': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    'shortcuts': 'Shortcuts',
                    'past': 'Past',
                    '7days': '7days',
                    '14days': '14days',
                    '30days': '30days',
                    'previous': 'Previous',
                    'prev-week': 'Week',
                    'prev-month': 'Month',
                    'prev-quarter': 'Quarter',
                    'prev-year': 'Year',
                    'less-than': 'Date range should longer than %d days',
                    'more-than': 'Date range should less than %d days',
                    'default-more': 'Please select a date range longer than %d days',
                    'default-less': 'Please select a date range less than %d days',
                    'default-range': 'Please select a date range between %d and %d days',
                    'default-default': 'This is costom language'
                };
            $('#businessTerm').dateRangePicker();


            //单个日期调用
            $('#socialCredit').fdatepicker();
            $('#foundTime').fdatepicker();

            //省市二联动调用
            $("#basic-city").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-1").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-2").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-3").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-4").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-5").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-6").citySelect({
                nodata: "none",
                required: false
            });
            $("#city-7").citySelect({
                nodata: "none",
                required: false
            });
            //步骤2tab切换
            $("#strpTowMenu").on("click", "li", function () {
                // 设index为当前点击
                var index = $(this).index();
                // 点击添加样式利用siblings清除其他兄弟节点样式
                $(this).addClass("active").siblings().removeClass("active");
                // 同理显示与隐藏
                $(this).parents(".step-two").find(".info-list .item").eq(index).show().siblings().hide();
            });
            //注册按钮控制
            $("#supplNextStep").click(function () {
                $('.step-one').hide();
                $('.step-two').show();
                $('.progress-bar').css('width','66%')

            });
            $("#supplLastStep").click(function () {
                $('.step-one').show();
                $('.step-two').hide();
                $('.progress-bar').css('width','33%')
            });
            $("#supplSubmit").click(function () {
                $('.step-one').hide();
                $('.step-two').hide();
                $('.step-three').show();
                $('.progress-bar').css('width','100%')
            })

        });

    </script>
</head>
<body>
<div class="login-head">
    <div class="w" style="width: 700px">
        <div class="logo" style="float: left">
            <a href="../home.html">
                <img src="../image/header-logo.png" alt="">
            </a>
            <span class="welcome">欢迎登陆</span>
        </div>
        <a href="help.html" class="help">登录页面，帮助</a>
    </div>
</div>

<div class="reg-main w">
    <!--头部-->
    <div class="reg-tit">
        <ul>
            <li><i>1</i><span>注册会员信息</span></li>
            <li><i>2</i><span>完善会员信息</span></li>
            <li><i>3</i><span>注册成功</span></li>
        </ul>
        <div class="progress-bar" style="width: 33%"></div>
    </div><!--头部 end-->
    <div class="reg-submit">
        <form action="" method="post">
            <!--入口切换按钮-->
            <div class="step">
                <!--注册会员信息-->
                <div class="step-one">
                    <div class="inlet-btn">
                        <div class="menu">
                            <input type="radio" id="suppliersBtn" checked="checked">
                            <label for="suppliersBtn">供应商注册</label>
                        </div>
                        <div class="menu">
                            <input type="radio" id="userBtn">
                            <label for="userBtn">用户注册</label>
                            <a href="register-user.html"></a>
                        </div>
                    </div>
                    <div class="item">
                        <label>用户名:</label>
                        <input type="text" placeholder="请输入用户名">
                        <span class="remind-err">用户名已存在</span>
                    </div>
                    <div class="item">
                        <label>密码:</label>
                        <input type="text" placeholder="请输入用密码">
                        <span class="remind-err">密码最低6位，由数字、大写字母、小写字母
及特殊字母组成</span>
                    </div>
                    <div class="item">
                        <label>确认密码:</label>
                        <input type="text" placeholder="请确认密码">
                        <span class="remind-err">重新输入密码</span>
                    </div>
                    <div class="item">
                        <label>邮箱:</label>
                        <input type="text" placeholder="请输入邮箱">
                        <span class="remind-err">qq邮箱，163邮箱</span>
                    </div>
                    <div class="item">
                        <label>验证码:</label>
                        <input type="text" placeholder="请输入验证码">
                    </div>
                    <a href="login.html">已有账号，立即登录？</a>
                    <div class="btn" id="supplNextStep">
                        <a href="javascript:;">下一步</a>
                    </div>
                </div>
                <!--供应商完善会员信息-->
                <div class="step-two suppliers">
                    <ul id="strpTowMenu">
                        <li class="active"><i></i><span>企业基本信息</span></li>
                        <li><i></i><span>企业联系信息</span></li>
                        <li><i></i><span>企业财务信息</span></li>
                        <li><i></i><span>企业负债情况</span></li>
                        <li><i></i><span>企业廉洁信息</span></li>
                        <li><i></i><span>企业业绩证明</span></li>
                        <li><i></i><span>银行开户情况</span></li>
                        <li><i></i><span>相关认证信息</span></li>
                        <li><i></i><span>欧标检测报告</span></li>
                        <li><i></i><span>产品发货地址</span></li>
                        <li><i></i><span>生产环境资料</span></li>
                        <li><i></i><span>生产能力调查</span></li>
                        <li><i></i><span>企业人员配置</span></li>
                    </ul>
                    <div class="info-list">
                        <!--企业基本信息-->
                        <div class="basic-info item" style="display: block">
                            <a href="javascript:;">
                                <label for="companyName">公司名称</label>
                                <input type="text" id="companyName">
                            </a>
                            <a href="javascript:;">
                                <label>所在地</label>
                                <div id="basic-city" class="city">
                                    <select class="prov"></select>
                                    <select class="city" disabled="disabled"></select>
                                </div>
                            </a>
                            <a href="javascript:;">
                                <label>公司性质</label>
                                <select style="width: 384px;height: 21px">
                                    <option value="">请选择</option>
                                    <option value="有限责任公司">有限责任公司</option>
                                    <option value="股份有限公司">股份有限公司</option>
                                    <option value="国有独资公司">国有独资公司</option>
                                    <option value="个人独资公司">个人独资公司</option>
                                    <option value="合伙企业">合伙企业</option>
                                    <option value="个人工商户">个人工商户</option>
                                    <option value="外商独资企业">外商独资企业</option>
                                    <option value="中外合作企业">中外合作企业</option>
                                    <option value="中外合资企业">中外合资企业</option>
                                    <option value="私营企业">私营企业</option>
                                    <option value="全民所有制企业">全民所有制企业</option>
                                    <option value="集体所有制企业">集体所有制企业</option>
                                </select>
                            </a>
                            <a href="javascript:;">
                                <label for="companyPerson">公司规模(人)</label>
                                <input type="text" id="companyPerson">
                            </a>
                            <a href="javascript:;">
                                <label for="legalPerson">法人代表(人)</label>
                                <input type="text" id="legalPerson">
                            </a>
                            <a href="javascript:;">
                                <label for="registeredCapital">注册资本(元)</label>
                                <input type="text" id="registeredCapital">
                            </a>
                            <a href="javascript:;">
                                <label for="businessTerm">营业期限</label>
                                <input type="text" id="businessTerm" placeholder="年-月-日 to 年-月-日    ">
                            </a>
                            <a href="javascript:;">
                                <label for="businessLicense">营业执照扫描照</label>
                                <input type="file" id="businessLicense">
                            </a>
                            <a href="javascript:;">
                                <label for="webLinks">企业网站链接</label>
                                <input type="text" id="webLinks">
                            </a>
                            <a href="javascript:;">
                                <label for="remark">备注</label>
                                <input type="text" id="remark">
                            </a>
                            <a href="javascript:;">
                                <label>行业分类</label>
                                <select style="width: 384px;height: 21px">
                                    <option value="智能选择方案">智能选择方案</option>
                                    <option value="生活家电">生活家电</option>
                                    <option value="生活家居/办公家具">生活家居/办公家具</option>
                                    <option value="室内装修">室内装修</option>
                                    <option value="软装系统">软装系统</option>
                                    <option value="卫浴洁具">卫浴洁具</option>
                                    <option value="综合机电">综合机电</option>
                                    <option value="基础材料">基础材料</option>

                                </select>
                            </a>
                            <a href="javascript:;">
                                <label for="socialCredit">社会信用代码</label>
                                <input type="text" id="socialCredit" placeholder="年-月-日">
                            </a>
                            <div>
                                <label for="foundTime">企业成立日期</label>
                                <input type="text" id="foundTime" placeholder="年-月-日">
                            </div>
                            <a href="javascript:;">
                                <label for="paidInCapital">实收资本</label>
                                <input type="text" id="paidInCapital">
                            </a>
                        </div>
                        <!--企业联系信息-->
                        <div class="contact-info item">
                            <div class="prompt-message">
                                <span>填写注意事项</span>
                                <p>专用手机号将作为贵公司对接人员专用账号，参与招投标业务。</p>
                            </div>
                            <a href="javascript:;">
                                <label for="contactAuthorizedClient">授权委托人姓名</label>
                                <input type="text" id="contactAuthorizedClient">
                            </a>
                            <a href="javascript:;">
                                <label for="contactBusinessPhone">企业电话</label>
                                <input type="text" id="contactBusinessPhone">
                            </a>
                            <a href="javascript:;">
                                <label for="contactOfficeAddress">办公地址</label>
                                <input type="text" id="contactOfficeAddress">
                            </a>
                            <a href="javascript:;">
                                <label for="contactRegisteredAddress">注册地址</label>
                                <input type="text" id="contactRegisteredAddress">
                            </a>
                            <a href="javascript:;">
                                <label for="contactlegalPerson">法人授权委托人</label>
                                <span class="down-template">模板下载</span>
                                <input type="file" id="contactlegalPerson" style="width: 300px">

                            </a>
                            <a href="javascript:;">
                                <label for="contactRegisteredCapital">注册资本(元)</label>
                                <input type="text" id="contactRegisteredCapital">
                            </a>
                            <a href="javascript:;">
                                <label for="contactlegalPhone">授权委托人手机号</label>
                                <input type="text" id="contactlegalPhone">
                            </a>
                            <a href="javascript:;">
                                <label for="contactPhototelephony">传真电话</label>
                                <input type="text" id="contactPhototelephony">
                            </a>
                            <a href="javascript:;">
                                <label for="contactPostcode">邮编</label>
                                <input type="text" id="contactPostcode">
                            </a>
                        </div>
                        <!--企业财务信息-->
                        <div class="financial-info item">
                            <div class="prompt-message">
                                <span>填写注意事项</span>
                                <p>对于以下信息，若当年无财务信息，请填写0。</p>
                            </div>
                            <table border="1">
                                <tr>
                                    <th rowspan="4">近三年营业额（元）</th>
                                    <th>年份</th>
                                    <th>国内</th>
                                    <th>国外</th>
                                    <th>附件</th>
                                </tr>
                                <tr>
                                    <td>2017年</td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td>2017年</td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td>2017年</td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="text" value="0"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td>备注</td>
                                    <td colspan="4"></td>
                                </tr>
                            </table>


                        </div>
                        <!--企业负债情况-->
                        <div class="liabilities-info item">
                            <div class="prompt-message">
                                <span>填写注意事项</span>
                                <p>1.新成立企业当年验资报告或银行出具的公司资信证明复印件加盖公章。</p>
                                <p>1.如无当年数据，请填写0。</p>
                            </div>
                            <table border="1">
                                <tr>
                                    <th rowspan="2">财务状况(元)</th>
                                    <th colspan="3">近三年</th>
                                </tr>
                                <tr>
                                    <th>2014年</th>
                                    <th>2014年</th>
                                    <th>2014年</th>
                                </tr>
                                <tr>
                                    <th>总资产</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>流动资产</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>非流动资产</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>总负债</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>流动负债</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>非流动负债</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>睡前利润</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>税后利润</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>固定资产</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>净资产总之</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>上传附件</th>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th colspan="4">备注 &nbsp;<span style="color: red">新成立企业当年验资报告或银行出具的公司资信证明复印材料</span><input
                                            type="file"></th>
                                </tr>


                            </table>
                        </div>
                        <!--企业廉洁信息-->
                        <div class="clean-info item">
                            <p>当地检查机关出具无相关犯罪证明</p>
                            <br>
                            <input type="file">
                        </div>
                        <!--企业业绩证明-->
                        <div class="results-prove item">
                            <div class="prompt-message">
                                <span>填写注意事项</span>
                                <p>1.附件需要合同原件扫描，合同名称应与相关附件一一对应。</p>
                                <p>1.海外合同金额需大于等于100万美元。</p>
                                <p>1.国内合同金额需大于等于500万人民币。</p>
                            </div>
                            <table border="1">
                                <tr>
                                    <th colspan="3">海外合同</th>
                                </tr>
                                <tr>
                                    <th>合同名称</th>
                                    <th>说明</th>
                                    <th>上传扫描件</th>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span style="color: red">可传多张文件</span><input type="file"></td>
                                </tr>
                            </table>
                            <table border="1">
                                <tr>
                                    <th colspan="3">国内合同</th>
                                </tr>
                                <tr>
                                    <th>合同名称</th>
                                    <th>说明</th>
                                    <th>上传扫描件</th>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="请输入合同名称"></td>
                                    <td><input type="text"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span style="color: red">可传多张文件</span><input type="file"></td>
                                </tr>
                            </table>
                        </div>
                        <!--银行开户情况-->
                        <div class="banks-open item">
                            <a href="javascript:;">
                                <label for="financialCorporateAccount">企业账户</label>
                                <input type="text" id="financialCorporateAccount">
                            </a>
                            <a href="javascript:;">
                                <label for="financialAccountTitle">账户名称</label>
                                <input type="text" id="financialAccountTitle">
                            </a>
                            <a href="javascript:;">
                                <label for="financialBank">开户银行</label>
                                <input type="text" id="financialBank">
                            </a>
                            <a href="javascript:;">
                                <label for="financialOfficer">财务负责人</label>
                                <input type="text" id="financialOfficer">
                            </a>
                            <a href="javascript:;">
                                <label for="financialPhone">财务电话</label>
                                <input type="text" id="financialPhone">
                            </a>

                        </div>
                        <!--相关认证信息-->
                        <div class="about-info item">
                            <table border="1">
                                <tr>
                                    <th colspan="3">相关认证信息</th>
                                </tr>
                                <tr>
                                    <th>质量管理体系认证</th>
                                    <th>勾选</th>
                                    <th>上传扫描件</th>
                                </tr>
                                <tr>
                                    <th>环境管理体系认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>资源节约认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>环保认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>CCC认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>AAA信用等级认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>CE认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>ROHS认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>FSC认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>其他相关国际认证</th>
                                    <td><input type="checkbox"></td>
                                    <td><input type="file"></td>
                                </tr>


                            </table>
                        </div>
                        <!--欧标检测报告-->
                        <div class="european-standard item">
                            <table border="1">
                                <tr>
                                    <th colspan="3">产品欧标检测报告</th>
                                </tr>
                                <tr>
                                    <th>产品名称</th>
                                    <th>执行标准</th>
                                    <th>欧标检测报告图片</th>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                    <td><input type="file"></td>
                                </tr>


                            </table>
                        </div>
                        <!--产品发货地址-->
                        <div class="shipping-address item">
                            <table border="1">
                                <tr>
                                    <th colspan="3">发货地址</th>
                                </tr>
                                <tr>
                                    <th>发货地址</th>
                                    <th>地址邮编</th>
                                    <th>详细地址</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-1" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-2" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-3" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-4" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-5" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-6" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="city-7" class="city">
                                            <select class="prov"></select>
                                            <select class="city" disabled="disabled"></select>
                                        </div>
                                    </td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                            </table>
                        </div>
                        <!--生产环境资料-->
                        <div class="environmental-data item">
                            <table border="1">
                                <tr>
                                    <th colspan="3">生产环境资料</th>
                                </tr>
                                <tr>
                                    <th>序号</th>
                                    <th>图片内容</th>
                                    <th>上传图片(可上传多张)</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>生产基地鸟瞰图</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>企业正门</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <th>办公区域</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <th>产品研发检测区</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <th>原材料存放区</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>6</th>
                                    <th>成品存放区</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>7</th>
                                    <th>不合格产品处理区</th>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <th>8</th>
                                    <th>加工现场</th>
                                    <td><input type="file"></td>
                                </tr>
                            </table>
                        </div>
                        <!--生产能力调查-->
                        <div class="ability-investigate item" style="overflow-x:auto ">
                            <table border="1">
                                <tr>
                                    <th colspan="12">生产能力调查</th>
                                </tr>
                                <tr>
                                    <th>序号</th>
                                    <th>设备名称</th>
                                    <th>产地/生产厂家</th>
                                    <th>设备型号/规格</th>
                                    <th>单价(元)</th>
                                    <th>设备寿命</th>
                                    <th>设备使用年限</th>
                                    <th>设备维护成本(元/年)</th>
                                    <th>年生产能力</th>
                                    <th>月生产能力</th>
                                    <th>日生产能力</th>
                                    <th>删除</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td>
                                        <button>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td>
                                        <button>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td>
                                        <button>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td>
                                        <button>删除</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--企业人员配置-->
                        <div class="staffing-info item">
                            <a href="javascript:;">
                                <label for="personWorker">企业职工人数(人)</label>
                                <input type="text" id="personWorker">
                            </a>
                            <a href="javascript:;">
                                <label for="personProduced">生产管理人员(人)</label>
                                <input type="text" id="personProduced">
                            </a>
                            <a href="javascript:;">
                                <label for="personFirm">企业管理人员(人)</label>
                                <input type="text" id="personFirm">
                            </a>
                            <a href="javascript:;">
                                <label for="personTechnology">技术人员(人)</label>
                                <input type="text" id="personTechnology">
                            </a>
                            <a href="javascript:;">
                                <label for="personOperation">生产操作人员(人)</label>
                                <input type="text" id="personOperation">
                            </a>
                            <a href="javascript:;">
                                <label for="personResearch">研发人员(人)</label>
                                <input type="text" id="personResearch">
                            </a>
                            <a href="javascript:;">
                                <label for="personTest">质检人员(人)</label>
                                <input type="text" id="personTest">
                            </a>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="javascript:;" id="supplLastStep">上一步</a>
                        <a href="../home.html">保存</a>
                        <a href="javascript:;" id="supplSubmit">提交</a>
                    </div>
                </div>
                <!--注册成功-->
                <div class="step-three">
                    <div>
                        <i>^_^</i>
                        <span>恭喜您注册成功<a href="../home.html">&nbsp;&nbsp;点击跳转首页</a></span>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </form>
    </div>
</div>



</body>
</html>